.text-center{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
}

.bg-red{
    background-color: rgb(136, 0, 255);
}
.mx-auto{
    margin: auto;
    

}
.flex
{
display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
    justify-content: center;
}
.text-center i{
    font-size: 2rem;
    padding: 10px;
}
/* .container{
    background: rgb(101, 12, 133);
    width: 38vw;
    height: 75vh;
    transition: 3s ease;
    border: 2px solid black;
    background: radial-gradient(rgb(102, 73, 192), transparent);
}
.container:hover{
    background: radial-gradient(rgb(98, 43, 43) ,transparent);
    
     border-radius: 20px;
    } */
.text-center::after{
    content: ' ';
    width: 0;
    height: 2px;
    background-color: rgb(98, 212, 16);
    display: block;
    margin: auto;
    transition: 3s ease;
}
.text-center:hover::after{
    width: 20%;
}


